<!DOCTYPE html>
 <html>
   <head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
     <title>Viridiana S&aacute;nchez</title>

     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link href='http://fonts.googleapis.com/css?family=Stalemate' rel='stylesheet' type='text/css'>
     <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

     {% load staticfiles %}
     <!--Import materialize.css-->
     <link href="{% static "bio/css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
     <link href="{% static "bio/css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>

     <!--Let browser know website is optimized for mobile-->
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   </head>

   <body id="page-body">
     <div id="bg">
       <div class="row">
         <div class="col s12 truecontent">HOLA</div>
       </div>
     </div>


     <!--Import jQuery before materialize.js-->
     <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
     <script type="text/javascript" src="{% static "bio/js/materialize.js"%}" ></script>
     <script src="{% static "bio/js/blur.js" %}"></script>
     <script src="{% static "bio/js/classes/aboutv_common.js" %}"></script>
     <script src="{% static "bio/js/index.js" %}"></script>
   </body>
 </html>
